.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 25%;
  background-color: rgba(69, 43, 16, 0.403);
  z-index: 2;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.226);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
